# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build
/dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# deployment logs
b1a7ba78-187f-4534-8fe3-12fed470d1bc.txt
f937df27-c6c1-47fd-8a35-84cbfe908bc2.txt
06849f0a-9b18-46ec-81f1-225ca4e22c36.txt
29460846-5d0f-4215-83da-a794a8192bab.txt

# typescript
*.tsbuildinfo
next-env.d.ts